=form_with model: [commentable, Comment.new], local: true do |form|
  .form-group
    =form.text_area :body, placeholder: "Add a comment", class: "form-control" 
  .form-group
    =form.submit class: "btn btn-primary"