%h4 Post a Comment

-# = form_for [ @recipe, @comment ] do |f|
-#   %p
-#     = f.label :author_name, "Your Name"
-#     %br/
-#     = f.text_field :author_name
-#   %p 
-#     = f.label :body, "Comment..."
-#     %br/
-#     = f.text_area :body
-#   %p 
-#     = f.submit 'Submit'

= simple_form for [@recipe, @comment] do |f|
  = f.input :author_name, label: "Your Name"
  = f.input :body, label: "Comment..."
  = f.button :submit